html {
    scroll-behavior: smooth;
  }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
      font-family: 'Merriweather', serif;
      gap: 5rem;
      /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Sacramento', cursive; */
  }

  .parent-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* height: 100vh; */
    
  }
.container{
      align-self: center;
      display: grid;
      grid-template-columns: repeat(4,1fr);
      grid-template-rows: repeat(4,1fr);
      height: 960px;
      justify-self: center;
      width: 960px;
  }
.square {
      background-color: white;
      border: solid black;
  }
.resetBtn {
      background-color: #3882f6;
      border-radius: 8px;
      border-width: 0;
      border: solid black;
      color: #f9faf8;
      font-size: 20px;
      font-weight: 700;
      margin: auto;
      padding: 6px;
      width: 120px;
  }
.resetBtn:hover {
      background-color: white;
      color: #3882f6;
  }
.header {
  font-family: 'Sacramento', cursive;
  font-size: 8rem;
    

}