html {
    scroll-behavior: smooth;
  }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
      font-family: 'Merriweather', serif;
      gap: 5rem;
      /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Sacramento', cursive; */
  }

  .parent-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* height: 100vh; */
    
  }
.container{
      align-self: center;
      display: grid;
      grid-template-columns: repeat(4,1fr);
      grid-template-rows: repeat(4,1fr);
      height: 960px;
      justify-self: center;
      width: 960px;
      border: 1px solid black;
  }
.square {
      background-color: white;
      border: 1px solid black;
  }
.resetBtn {
      background-color: #3882f6;
      border-radius: 8px;
      border-width: 0;
      border: solid black;
      color: #f9faf8;
      font-size: 20px;
      font-weight: 700;
      margin: auto;
      padding: 6px;
      width: 120px;
  }
.resetBtn:hover {
      background-color: white;
      color: #3882f6;
  }
  .slidecontainer {
    width: 50%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
.header {
  font-family: 'Sacramento', cursive;
  font-size: 8rem;
}