.container{
    display: grid;
    width: 960px;
    height: 960px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    
}

.square {
    background-color: bisque;
    border: solid black;
}

body {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    
}
.resetBtn {
    justify-content: center;
    align-self: center;
}